<div class="cover gh-outer">
    <div class="cover-content gh-inner">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#unless @member}}
            <div class="cover-cta">
                <div style="min-height: 58px;max-width: 440px;margin: 0 auto;width: 100%"><script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.1/umd/signup-form.min.js" data-label-1="Homepage Embed Form" data-button-color="#E5E1DA" data-button-text-color="#000000" data-site="https://www.americancrossword.com" async></script></div>
                <!--button class="button members-subscribe" data-portal="signup">Subscribe now</button-->
                <button class="button button-secondary members-login" data-portal="signin">Login</button>
            </div>
        {{/unless}}
    </div>
</div>
